


  #A, #B, #C, #D, #E {
    width: 100%;
    height: auto;
  }

  p {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
  }

  body{
    max-width: 100vh;
    color: black;
    background-color: black;
    background-image: url("https://images.wallpaperscraft.com/image/single/fog_trees_bw_157820_3840x2160.jpg"); 
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: red;
    margin-bottom: 20px;
  }
  
  .menu {
    display: none;
    float: left;
  }
  
  #menu-toggle:checked ~ .menu {
    display: block;
  }

  h1{
    color: white;
    font-size: 50px;
    margin-top: 20px;
  }

   h2{
    color: white;
    font-size: 40px;
    margin-top: 73%;
  }

   a{
    font-size: 40px;
  }

    img{
      margin-top: 90px;
      width: 30vh;
    }